ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: pink;
    color: white;
  }

li {
    padding: 10px 0px 10px 0px;
}